@use '../../styles/_index' as styles;
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    font-size: 1.7rem;

    @media (min-width: styles.$desktop) {
        font-size: 2rem;
    }

    @media (min-width: styles.$laptopL) {
        font-size: 2.5rem;
    }

    &__title {
        margin: 0;
        overflow-wrap: break-word;
        text-align: center;
    }

    &__value {
        margin-top: auto;
    }
}