@use './mixins';
@use './variables';

.h2 {
    @include mixins.h(3.5rem, 600);
    margin-bottom: 1rem;
}

.h3 {
    @include mixins.h(2.7rem, 600);
}
.center {
    text-align: center;
}

.container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: variables.$tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.img {
    width: 100%;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
}

.link {
    text-decoration: underline;
    color: black;
    font-size: 2.5rem;
    padding-left: 2.5rem;
}

.default-btn {
    @include mixins.button(transparent, black, 2rem);
}