@use '../../styles/_index.scss' as styles;

.card {
    min-height: 50wh;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    &__image {
        width: 100%;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    &__title {
        font-size: 2.5rem;

        @media (min-width: styles.$tablet) {
            font-size: 3rem;
        }

        @media (min-width: styles.$desktop) {
            font-size: 3.5rem;
        }

        @media (min-width: styles.$laptopL) {
            font-size: 4rem;
        }
    }
}