@use '../../styles/_index' as styles;
@use "sass:color";


.chip {
    padding: 0.5rem 0.9rem;
    border-radius: 1.5rem;
    cursor: pointer;

    &__text {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.2;

        @media (min-width: styles.$desktop) {
            font-size: 2rem;
        }

        @media (min-width: styles.$laptopL) {
            font-size: 2.3rem;
        }
    }

    @media (hover: hover) {
        &:hover {
            filter: brightness(0.85);
        }
    }


        @media (hover: none) {
        &:active {
            filter: brightness(0.85);
        }
    }

}

.fire {
    background-color: #F08030;
    color: #fff;
    box-shadow: 0 4px 10px rgba(240, 128, 48, 0.3);
}

.water {
    background-color: #6890F0;
    color: #fff;
    box-shadow: 0 4px 10px rgba(104, 144, 240, 0.3);
}

.grass {
    background-color: #78C850;
    color: #fff;
    box-shadow: 0 4px 10px rgba(120, 200, 80, 0.3);
}

.electric {
    background-color: #F8D030;
    color: #333;
    box-shadow: 0 4px 10px rgba(248, 208, 48, 0.3);
}

.normal {
    background-color: #A8A878;
    color: #fff;
    box-shadow: 0 4px 10px rgba(168, 168, 120, 0.3);
}

.ice {
    background-color: #98D8D8;
    color: #333;
    box-shadow: 0 4px 10px rgba(152, 216, 216, 0.3);
}

.fighting {
    background-color: #C03028;
    color: #fff;
    box-shadow: 0 4px 10px rgba(192, 48, 40, 0.3);
}

.poison {
    background-color: #A040A0;
    color: #fff;
    box-shadow: 0 4px 10px rgba(160, 64, 160, 0.3);
}

.ground {
    background-color: #E0C068;
    color: #333;
    box-shadow: 0 4px 10px rgba(224, 192, 104, 0.3);
}

.flying {
    background-color: #A890F0;
    color: #fff;
    box-shadow: 0 4px 10px rgba(168, 144, 240, 0.3);
}

.psychic {
    background-color: #F85888;
    color: #fff;
    box-shadow: 0 4px 10px rgba(248, 88, 136, 0.3);
}

.bug {
    background-color: #A8B820;
    color: #fff;
    box-shadow: 0 4px 10px rgba(168, 184, 32, 0.3);
}

.rock {
    background-color: #B8A038;
    color: #fff;
    box-shadow: 0 4px 10px rgba(184, 160, 56, 0.3);
}

.ghost {
    background-color: #705898;
    color: #fff;
    box-shadow: 0 4px 10px rgba(112, 88, 152, 0.3);
}

.dragon {
    background-color: #7038F8;
    color: #fff;
    box-shadow: 0 4px 10px rgba(112, 56, 248, 0.3);
}

.dark {
    background-color: #705848;
    color: #fff;
    box-shadow: 0 4px 10px rgba(112, 88, 72, 0.3);
}

.steel {
    background-color: #B8B8D0;
    color: #333;
    box-shadow: 0 4px 10px rgba(184, 184, 208, 0.3);
}

.fairy {
    background-color: #EE99AC;
    color: #333;
    box-shadow: 0 4px 10px rgba(238, 153, 172, 0.3);
}