@use '../../styles/_index' as styles;

.chip {
    padding: 0.5rem 0.9rem;
    border-radius: 1.5rem;
    cursor: pointer;

    &__text {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.2;

        @media (min-width: styles.$desktop) {
            font-size: 2rem;
        }

        @media (min-width: styles.$laptopL) {
            font-size: 2.3rem;
        }
    }
}

.fire {
    background-color: #F08030;
    color: #fff;
}

.water {    
    background-color: #6890F0;
    color: #fff;
}

.grass {
    background-color: #78C850;
    color: #fff;
}

.electric {
    background-color: #F8D030;
    color: #333;
}

.normal {
    background-color: #A8A878;
    color: #fff;
}

.ice {
    background-color: #98D8D8;
    color: #333;
}

.fighting {
    background-color: #C03028;
    color: #fff;
}

.poison {
    background-color: #A040A0;
    color: #fff;
}

.ground {
    background-color: #E0C068;
    color: #333;
}

.flying {
    background-color: #A890F0;
    color: #fff;
}

.psychic {
    background-color: #F85888;
    color: #fff;
}

.bug {
    background-color: #A8B820;
    color: #fff;
}

.rock {
    background-color: #B8A038;
    color: #fff;
}

.ghost {
    background-color: #705898;
    color: #fff;
}

.dragon {
    background-color: #7038F8;
    color: #fff;
}

.dark {
    background-color: #705848;
    color: #fff;
}

.steel {
    background-color: #B8B8D0;
    color: #333;
}

.fairy {
    background-color: #EE99AC;
    color: #333;
}