@use '../../styles/_index' as styles;

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.8rem;

}

.search {
    min-height: 2rem;
    width: 50%;

    @media (min-width: styles.$laptopL) {
        min-height: 3.5rem;
        width: 50%;
        
    }
}

.select {
    position: relative;
    min-height: 2rem;
    width: 30%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    @media (min-width: styles.$tablet) {
        width: 10%;
    }

    @media (min-width: styles.$laptopL) {
        font-size: 2.5rem;
    }

    &__button {
        min-height: 100%;
        background-color: white;
        width: 100%;
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;

        width: 100%;
        max-height: 200px;
        overflow-y: auto;

        background: transparent;

        display: flex;
        flex-direction: column;

        &__button {
            background-color: white;
            width: 100%;
        }
    }
}

